@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;700&family=Bungee&family=Bungee+Shade&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.Space{
  background: url("https://media.giphy.com/media/YqVztN6vprUl5zG16o/giphy.gif");
  background-size: cover;
}

.Wilderness{
  background: url("https://media.giphy.com/media/KEMgGJgGyZvehcyT7Q/giphy.gif");
  background-size: cover;
}

.Soul{
  background: url("https://media.giphy.com/media/PgiBl7ODIQPl61bHVU/giphy.gif");
  background-size: cover; 
}

.dropdown{
  background-color: transparent;
}

h1 {
  font-size: 125%;
  margin: 12px;
  color: rgb(69, 57, 102);
}

.radio-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgba(210, 212, 244, 0.42);
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
.radio-title-container {
  margin-left: 30px;
}
.radio-title-container h1{
  font-family: bungee shade;
  color: rgb(229, 223, 199);
  letter-spacing: 3.0pt;
}

.radio-station-container {
  display: flex;
  margin-right: 40%;
  padding-top: 10px;
}

.radio-song-container {
  margin-top: 40%;
  background-color: rgba(210, 212, 244, 0.42);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  color: rgb(240, 235, 218)
}
.radio-song-container form {
  display: flex;
  flex-flow: row nowrap;
}
.checkbox-favorite-container {
  padding-right: 25%;
  margin-left: 10px;
}
.checkbox {
  margin-top: 35px;
  width: 30px;
}
.favorites {
  width: 55px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.favorites:hover {
  box-shadow: none;
}
.current-song {
  align-self: center;
}
@media (max-width: 425px) {
  .dropdown {
    position: absolute;
    top: 0;
    right: 0;
  }
  .Space{
    padding-top: 20px;
    background: url("https://media.giphy.com/media/dui3nXDO54dBxq7Cjs/giphy.gif");
    background-size: cover;
    order: 0;
  }

  .Wilderness{
    padding-top: 20px;
    background: url("https://media.giphy.com/media/VJxperin0hikfT7mmy/giphy.gif");
    background-size: cover;
    order: 0;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .radio-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: transparent;
  }
  .radio-title-container {
    display: none;
  }

  .radio-station-container{
    background-color: rgba(210, 212, 244, 0.42);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid black;
  }

  .radio-station-container h1{
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    font-family: lato;
    color: rgb(248, 243, 227)
  }

  .radio-song-container {
    align-self: flex-end;
    margin-top: 138.5%;
  }

  .radio-song-container h2 {
    text-align: center;
    font-size: 15px;
  }
  .checkbox-favorite-container {
    position: absolute;
    bottom: 100px;
  }
  .checkbox {
    width: 20px;
  }
  .favorites {
    width: 5px;
  }

}