@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;700&family=Bungee&family=Bungee+Shade&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

form.signup-form{
    background-color: rgba(210, 212, 244, 0.5);
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    transition: all 2s;
}

form.signup-form:hover{
    box-shadow: 10px 10px 15px 10px rgba(208, 181, 255, 0.5);
}

form.signup-form input{
    font-family: lato;
}

form.signup-form button.signup-button{
    width: 250px;
    margin: 10px 185px;
    background-color: rgb(36, 40, 71);
    color: rgb(255, 253, 150);
    font-family: lato;
    font-weight: bolder;
}

@media (max-width: 425px) {
    h1.started{
        font-size: 40px;
        margin-bottom: -10px;
    }

    form.signup-form{
        margin: 20px auto;
    }

    form.signup-form button.signup-button{
        font-size: 20px;
        margin: 0 50px;
        width: 50%;
        height: 20%;
    }
}