@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;700&family=Bungee&family=Bungee+Shade&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  background: radial-gradient(#01333d, #242847);
}

div.second-moon{
  background: url("https://res.cloudinary.com/dkhiieq9p/image/upload/v1595519732/Spacetank_Full_Moon_2_1_tls4qd.svg");
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -50px;
  width: 1200px;
  height: 1200px;
  z-index: -50;
}

div.sign-in{
  border-radius: 20px;
  width: 30%;
  margin: 60px auto;
  padding-top: 30px;
  height: 500px;
  background-color: rgba(210, 212, 244, 0.42);
}

.sign-in-title {
  padding-top: 3%;
  padding-bottom: 13%;
  color: white;
  font-family: Arial;
  font-size: 180%;
  letter-spacing: 0.2em;
}
h1 {
  text-align: center;
  margin: 0 auto;
  font-family: bungee shade;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  font-family: briyani;
  width: 55%;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
}

.sign-in-button {
  background-color: rgb(196, 196, 196);
  font-family: 'Carme', sans-serif;
  margin: 40px auto;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  color: rgb(146, 146, 146);
  border-radius: 30px;
}

.sign-in-button:hover{
  background-color: rgb(36, 40, 71);
  color: rgb(249, 248, 147);
}

.container input {
  padding-left: 20px;
  font-family: 'Carme', sans-serif;
  color: rgb(146, 146, 146);
  font-weight: 900;
}

h3 {
  text-align: center;
  transition: all 2s;
}

h3:hover{
  color: rgb(249, 248, 147);
  transform: scale(1.1);
}

a {
  font-family: biryani;
  font-size: 20px;
  text-align: right;
  color: rgb(23, 23, 23);
  text-decoration: none;
}

@media (max-width: 425px) {

  div.sign-in{
    width: 60%;
    height: 300px;
    background-color: transparent;
  }

  form input{
    width: 100%;
  }

  button.sign-in-button{
    margin-top: 70px;
    font-weight: 900;
    width: 200px;
    height: 45px;
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  div.second-moon{
    height: 600px;
    width: 600px;
    position: absolute;
    left: -75px;
    top: 0px;
  }

}